.form-email {

  select, input:not([type=submit]), textarea {
    @include input-placeholder($color: #c49237);
    font-family: $montserrat-light;
    color: #813948;
  }

  .text {
    margin-top: 20px;
  }

  .bottom-control {
    margin-top: 60px;
    padding-right: 200px;

    .form-item {
      margin: 0;
    }
  }

  .form-actions {
    position: absolute;
    margin: 0;
    right: 70px;
    bottom: -22px;
    height: 44px;

    &:before {
      @include pseudo-block($left: 100%, $top: 0);
      border-bottom: 22px solid transparent;
      border-top: 22px solid transparent;
      border-left: 8px solid #c49237;
      @include transition(border-left-color .3s);
    }

    &:hover {

      &:before {
        border-left-color: #813948;
      }

      input {
        background: #813948;
      }
    }

    input {
      height: 44px;
      padding: 8px 48px;
      background: #c49237;
      border: none;
      font-size: 22px;
      font-family: $montserrat-bold;
      color: #fff;
      @include transition(background .3s);
    }
  }
}