.form {

  .form-item, .form-actions {
    margin: 0 0 14px;

    .form-item {
      margin-bottom: 0;
    }
  }

  label {
    font-weight: normal;
  }

  select, input:not([type=submit]), textarea {
    font-size: 14px;
    padding: 14px 15px;
    border: none;
    width: 100%;
    @include input-placeholder($color: #6d0c2f);
  }

  .mergeRow {
    display: inline-block;
    margin-bottom: 7px;
  }

  .mergeRow-email {
    width: 254px;
    margin-right: 3px;
  }

  .mergeRow-zip {
    width: 105px;
  }

  .submit_container {
    text-align: center;
    padding-top: 30px;

    .button {
      display: inline-block;
      text-transform: uppercase;
      color: #cb9b2b;
      font-family: $montserrat-extrabold;
      padding: 14px 15px;
      border: none;
      background: #6d0c2f;
      @include transition(all .3s);

      &:hover {
        background: #cb9b2b;
        color: #6d0c2f;
      }
    }
  }

  .field-wrapper {
    @include clearfix();

    .form-item {
      float: left;

      &:last-child {
        padding-right: 0;
      }

      &.width-80 {
        width: 75%;
        padding-right: 14px;
      }

      &.width-20 {
        width: 25%;
      }
    }
  }

  .form-type-checkbox {
    input[type="checkbox"] {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: -1;

      &:checked + label:before {
        @include oneline-sprite($icons, icon-checkbox);
      }
    }

    input[type="checkbox"] + label {
      cursor: pointer;
      position: relative;
      padding-left: 32px;
      line-height: 1.2;

      &:before {
        @include pseudo-block($left: 0, $right: 0);
        @include oneline-sprite-box($icons, icon-checkbox-active);
      }
    }
  }
}