.section-items {

  .item {
    float: left;
    width: 50%;
    padding-bottom: 43%;

    .inner {
      width: 415px;
    }

    .img {
      margin-bottom: 25px;
    }

    h2 {
      margin-bottom: 40px;
    }

    .text {
      margin-bottom: 40px;
    }
  }
}