.section-top {

  .site-container {
    padding: 230px 0 140px 0;
  }

  h1 {
    font-size: 48px;
  }

  .item {
    width: 240px;
    margin-right: 10px;

    .text {
      width: 155px;
    }
  }
}