@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserrat-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-extrabold';
  src: url("../fonts/montserrat-extrabold-webfont.eot");
  src: url("../fonts/montserrat-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff"), url("../fonts/montserrat-extrabold-webfont.ttf") format("truetype"), url("../fonts/montserrat-extrabold-webfont.svg#montserrat-extrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserrat-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserrat-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-center {
  text-align: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2;
  color: #502610;
  font-family: "montserrat-regular";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body.page-email {
  background: #e4e9b1;
}

*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 15px;
}

p {
  margin: 0 0 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 16px;
}
ul li {
  margin: 0 0 16px;
  padding: 0;
}

a {
  color: #e4e9b1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h2 {
  font-family: "montserrat-extrabold";
  text-transform: uppercase;
  text-align: center;
}

.field-collection-view-links, .tabs, .action-links-field-collection-add {
  list-style: none;
}
.field-collection-view-links a, .tabs a, .action-links-field-collection-add a {
  color: #502610;
}
.field-collection-view-links li:before, .tabs li:before, .action-links-field-collection-add li:before {
  display: none !important;
}

.section-top .field-collection-view-links a {
  color: #e4e9b1;
}

.form .form-item, .form .form-actions {
  margin: 0 0 14px;
}
.form .form-item .form-item, .form .form-actions .form-item {
  margin-bottom: 0;
}
.form label {
  font-weight: normal;
}
.form select, .form input:not([type=submit]), .form textarea {
  font-size: 14px;
  padding: 14px 15px;
  border: none;
  width: 100%;
}
.form select.placeholder, .form input:not([type=submit]).placeholder, .form textarea.placeholder {
  color: #6d0c2f;
}
.form select:-moz-placeholder, .form input:not([type=submit]):-moz-placeholder, .form textarea:-moz-placeholder {
  color: #6d0c2f;
}
.form select::-webkit-input-placeholder, .form input:not([type=submit])::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #6d0c2f;
}
.form .mergeRow {
  display: inline-block;
}
.form .mergeRow-email {
  width: 254px;
  margin-right: 3px;
}
.form .mergeRow-zip {
  width: 105px;
}
.form .submit_container {
  text-align: center;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .form .submit_container {
    padding-top: 10px;
  }
}
.form .submit_container .button {
  display: inline-block;
  text-transform: uppercase;
  color: #cb9b2b;
  font-family: "montserrat-extrabold";
  padding: 14px 15px;
  border: none;
  background: #6d0c2f;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form .submit_container .button:hover {
  background: #cb9b2b;
  color: #6d0c2f;
}
.form .form-item:last-child {
  padding-right: 0;
}
.form .form-item.width-80 {
  width: 75%;
  padding-right: 14px;
  float: left;
}
.form .form-item.width-20 {
  width: 25%;
  float: left;
}
.form .form-type-checkbox input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.form .form-type-checkbox input[type="checkbox"]:checked + label:before {
  background:  url('../images/icons-se03efd22d2.png') 0 -38px no-repeat;
}
.form .form-type-checkbox input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  line-height: 1.2;
}
.form .form-type-checkbox input[type="checkbox"] + label:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 17px;
  width: 19px;
  background:  url('../images/icons-se03efd22d2.png') -34px -122px no-repeat;
}
.form .captcha img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.form .reload-captcha-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}
.form .reload-captcha-wrapper a {
  text-decoration: underline;
}
.form .reload-captcha-wrapper a:hover {
  text-decoration: none;
}
.form .form-item-captcha-response {
  padding-top: 20px;
  line-height: 1.4;
  font-size: 14px;
  max-width: 310px;
}
.form .form-item-captcha-response label {
  margin-bottom: 10px;
}

.form-email select, .form-email input:not([type=submit]), .form-email textarea {
  font-family: "montserrat-light";
  color: #813948;
}
.form-email select.placeholder, .form-email input:not([type=submit]).placeholder, .form-email textarea.placeholder {
  color: #c49237;
}
.form-email select:-moz-placeholder, .form-email input:not([type=submit]):-moz-placeholder, .form-email textarea:-moz-placeholder {
  color: #c49237;
}
.form-email select::-webkit-input-placeholder, .form-email input:not([type=submit])::-webkit-input-placeholder, .form-email textarea::-webkit-input-placeholder {
  color: #c49237;
}
.form-email select.error, .form-email input:not([type=submit]).error, .form-email textarea.error {
  -moz-box-shadow: inset 0 0 5px 3px #f1c39b;
  -webkit-box-shadow: inset 0 0 5px 3px #f1c39b;
  box-shadow: inset 0 0 5px 3px #f1c39b;
}
.form-email .text {
  margin-top: 20px;
  clear: both;
  overflow: hidden;
}
.form-email .bottom-control {
  margin-top: 60px;
  padding-right: 200px;
}
.form-email .bottom-control .form-item {
  margin: 0;
}
.form-email .form-actions {
  position: absolute;
  margin: 0;
  right: 70px;
  bottom: -22px;
  height: 44px;
}
.form-email .form-actions:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  border-bottom: 22px solid transparent;
  border-top: 22px solid transparent;
  border-left: 8px solid #c49237;
  -moz-transition: border-left-color 0.3s;
  -o-transition: border-left-color 0.3s;
  -webkit-transition: border-left-color 0.3s;
  transition: border-left-color 0.3s;
}
.form-email .form-actions:hover:before {
  border-left-color: #813948;
}
.form-email .form-actions:hover input {
  background: #813948;
}
.form-email .form-actions input {
  height: 44px;
  padding: 8px 48px;
  background: #c49237;
  border: none;
  font-size: 22px;
  font-family: "montserrat-bold";
  color: #fff;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.form-email #notice-wrapper {
  margin-bottom: 14px;
  padding: 14px;
  font-size: 14px;
}
.form-email #notice-wrapper.status {
  background: rgba(0, 255, 0, 0.2);
}
.form-email #notice-wrapper.error {
  background: rgba(255, 0, 0, 0.2);
}
.form-email .form-item.webform-component {
  position: relative;
}
.form-email .form-item.webform-component input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.form-email .form-item.webform-component input[type="checkbox"]:checked + label:before {
  background:  url('../images/icons-se03efd22d2.png') 0 -38px no-repeat;
}
.form-email .form-item.webform-component input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  line-height: 1.2;
}
.form-email .form-item.webform-component input[type="checkbox"] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 17px;
  width: 19px;
  background:  url('../images/icons-se03efd22d2.png') -34px -122px no-repeat;
}
.form-email .captcha {
  border: none;
  padding: 0;
  margin: 0 0 50px;
}
.form-email .captcha legend {
  display: none;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}
.site-header .social {
  position: absolute;
  top: 30%;
  color: #cb9b2b;
}
.site-header .social p {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
}
.site-header .social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.site-header .social ul li {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.site-header .social ul li.active a {
  color: #e4e9b1;
}
.site-header .social ul li a {
  display: block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.site-header .social ul li a:hover {
  opacity: .7;
}
.site-header .social ul li.soc-1 a {
  height: 23px;
  width: 11px;
  background:  url('../images/icons-se03efd22d2.png') -19px -38px no-repeat;
}
.site-header .social ul li.soc-2 a {
  height: 18px;
  width: 24px;
  background:  url('../images/icons-se03efd22d2.png') -30px -38px no-repeat;
}
.site-header .logo {
  float: left;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.site-header .logo:hover {
  opacity: .7;
}
.site-header .nav {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.site-header .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .nav ul li {
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 0;
}
.site-header .nav ul li a.active {
  color: #e4e9b1;
}

.outer-wrapper {
  overflow: hidden;
}

.content-wrapper .cols:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.content-wrapper .cols.cols-2 .col ul {
  padding: 0;
  list-style: none;
}
.content-wrapper .cols.cols-2 .col ul li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 7px;
}
.content-wrapper .cols.cols-2 .col ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #502610;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.content-wrapper .tabs {
  position: relative;
  z-index: 100;
}
.content-wrapper .tabs a {
  color: #000;
}

.site-footer {
  background: #6d0c2f;
  text-align: center;
  color: #e4e9b1;
  position: relative;
}
.site-footer .social {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  right: 90px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.site-footer .social li {
  display: inline-block;
  margin-right: 35px;
}
.site-footer .social li:last-child {
  margin-right: 0;
}
.site-footer .social li.soc-1 a {
  height: 61px;
  width: 34px;
  background:  url('../images/icons-se03efd22d2.png') 0 -122px no-repeat;
}
.site-footer .social li.soc-2 a {
  height: 61px;
  width: 76px;
  background:  url('../images/icons-se03efd22d2.png') 0 -61px no-repeat;
}
.site-footer .social li a {
  display: block;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.site-footer .social li a:hover {
  opacity: .7;
}
.site-footer .logo a {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.site-footer .logo a:hover {
  opacity: .7;
}
.site-footer p {
  margin-bottom: 0;
}

.site-container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.site-container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.btn-wrapp.style-a a {
  display: inline-block;
  background: #e4e9b1;
  color: #6d0c2f;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  font-family: "montserrat-extrabold";
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-wrapp.style-a a:hover {
  color: #e4e9b1;
  background: #CB9B2B;
}

.b-desc {
  text-align: center;
  background: #cb9b2b;
  position: relative;
}
.b-desc:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -34px;
  left: 50%;
  border-left: 35px solid transparent;
  border-top: 35px solid #cb9b2b;
  border-right: 35px solid transparent;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.b-desc .img {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.b-desc strong {
  color: #6d0c2f;
}
.b-desc .title {
  display: inline-block;
  font-family: "montserrat-light";
  vertical-align: middle;
}
.b-desc .title strong {
  font-family: "montserrat-extrabold";
}
.b-desc .text {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.b-desc .text strong {
  display: block;
}

.b-email {
  color: #813948;
  font-size: 16px;
  line-height: 2;
}
.b-email .inner {
  position: relative;
  max-width: 744px;
  margin: 0 auto 50px;
  padding: 60px 60px 12px;
  background: #edf3c0;
}
.b-email .title {
  font-size: 72px;
  color: #c49237;
  font-family: "montserrat-extrabold";
  margin-bottom: 12px;
  line-height: 1.2;
}
.b-email ul {
  font-family: "montserrat-bold";
  margin-bottom: 20px;
  line-height: 1.2;
}
.b-email ul li {
  margin-bottom: 10px;
}
.b-email .items {
  margin: 40px 0;
  text-align: center;
}
.b-email .items .item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 90px;
}
.b-email .items .item:first-child {
  margin-left: 0;
}
.b-email p {
  margin-bottom: 20px;
}
.b-email .img {
  text-align: center;
}
.b-email a {
  color: #813948;
}

.section.section-top {
  background: url('../images/bg/section-one.jpg') no-repeat fixed center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
.section.section-top h1 {
  color: #cb9b2b;
  text-transform: uppercase;
  font-family: "montserrat-extrabold";
}
.section.section-top h1 span {
  color: #e4e9b1;
}
.section.section-top .item {
  display: inline-block;
  color: #cb9b2b;
  font-family: "montserrat-bold";
  text-align: left;
}
.section.section-top .item:last-child {
  margin-right: 0;
}
.section.section-top .item .img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.section.section-top .item .img img {
  vertical-align: middle;
}
.section.section-top .item .text {
  display: inline-block;
  vertical-align: middle;
}
.section.section-top .item .text p {
  margin: 0;
}
.section.section-vote {
  background: #e4e9b1;
}
.section.section-vote .img {
  text-align: center;
}
.section.section-vote .item {
  background: #edf3c0;
  position: relative;
}
.section.section-vote .item p {
  margin-bottom: 0;
}
.section.section-vote .item:before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 38px;
  width: 46px;
  background:  url('../images/icons-se03efd22d2.png') 0 0 no-repeat;
}
.section.section-vote h3 {
  font-family: "montserrat-bold";
  text-transform: uppercase;
  color: #cb9b2b;
  text-align: center;
}
.section.section-logo {
  text-align: center;
  background: url('../images/bg/section-logo.jpg') no-repeat center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section-faq {
  background: #cb9b2b;
  text-align: center;
}
.section.section-faq h2 {
  color: #6d0c2f;
}
.section.section-faq .item {
  background: #be8d1a;
  text-align: left;
}
.section.section-faq .item .letter {
  font-family: "montserrat-extrabold";
  text-transform: uppercase;
  float: left;
  line-height: 1;
}
.section.section-faq .item .text {
  overflow: hidden;
  padding-top: 5px;
}
.section.section-faq .item .question:after, .section.section-faq .item .answer:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.section.section-faq .item .question {
  margin-bottom: 5px;
}
.section.section-faq .item .question .text {
  font-family: "montserrat-bold";
}
.section.section-faq .item .answer {
  color: #e4e9b1;
}
.section.section-items .items:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.section.section-items .messages.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.section.section-items .item {
  position: relative;
}
.section.section-items .item .inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.section.section-items .item:first-child, .section.section-items .item:last-child {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.section.section-items .item:first-child img, .section.section-items .item:last-child img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section.section-items .item:nth-child(2) {
  background: #502610;
  color: #e4e9b1;
}
.section.section-items .item:nth-child(2) h2 {
  color: #cb9b2b;
}
.section.section-items .item:nth-child(3) {
  background: #e4e9b1;
}
.section.section-items .item:nth-child(3) h2 {
  color: #6d0c2f;
}

@media (max-width: 870px) {
  .site-header {
    padding: 30px;
  }
  .site-header .logo {
    float: none;
    text-align: center;
  }
  .site-header .social {
    top: 88%;
    right: 0;
    left: 0;
    text-align: center;
  }
  .site-header .btn-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 46px;
    height: 40px;
    background: #cb9b2b;
  }
  .site-header .btn-menu.active span {
    opacity: 0;
  }
  .site-header .btn-menu.active:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 18px;
  }
  .site-header .btn-menu.active:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 18px;
  }
  .site-header .btn-menu:before, .site-header .btn-menu:after, .site-header .btn-menu span {
    width: 40px;
    height: 4px;
    background: #E4E9B1;
    left: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .site-header .btn-menu:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
  }
  .site-header .btn-menu:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
  }
  .site-header .btn-menu span {
    display: block;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .site-header .nav {
    right: 10px;
    top: 114px;
    display: none;
  }
  .site-header .nav.active {
    display: block;
  }
  .site-header .nav ul li {
    display: block;
    margin-right: 0;
    background: #cb9b2b;
  }
  .site-header .nav ul li a {
    display: block;
    padding: 7px 10px;
  }
}
@media (max-width: 767px) {
  .site-container {
    padding: 50px 10px;
  }

  .site-footer {
    padding: 30px 0;
  }
  .site-footer .logo {
    margin-bottom: 20px;
  }
  .site-footer p {
    margin-bottom: 20px;
  }
  .site-footer .social {
    position: relative;
    top: auto;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    text-align: center;
    right: auto;
  }

  .content-wrapper .cols.cols-2 .col {
    width: 100;
  }

  .section-top .site-container {
    padding: 215px 10px 60px;
  }
  .section-top h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .section-top .item {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center !important;
  }
  .section-top .item .text {
    width: 155px;
  }

  .section-vote h2 {
    margin-bottom: 70px;
  }
  .section-vote .img {
    width: 40px;
    margin: 0 auto 15px;
  }
  .section-vote .item {
    padding: 35px 15px 20px 20px;
    margin-bottom: 32px;
  }
  .section-vote .item .cols-2 .col {
    float: left;
  }
  .section-vote .item .cols-2 .col:first-child {
    width: 45%;
    padding-right: 0;
  }
  .section-vote .item .cols-2 .col:last-child {
    width: 55%;
    padding-left: 0;
  }
  .section-vote h3 {
    margin-bottom: 20px;
  }

  .section-logo {
    padding: 50px 20px;
  }

  .section-faq .img {
    width: 45px;
    margin: 0 auto 15px;
  }
  .section-faq h2 {
    margin-bottom: 50px;
  }
  .section-faq .item {
    padding: 14px 20px;
    margin-bottom: 20px;
  }
  .section-faq .item .letter {
    font-size: 55px;
    margin-right: 15px;
  }
  .section-faq .item .question .text {
    font-size: 18px;
  }

  .section-items .item {
    min-height: 320px;
    padding-bottom: 80%;
  }
  .section-items .item:first-child, .section-items .item:last-child {
    min-height: 0;
  }
  .section-items .item .inner {
    width: 100%;
    padding: 0 10px;
  }
  .section-items .item .img {
    width: 25%;
    margin: 0 auto 15px;
  }
  .section-items .item h2 {
    margin-bottom: 20px;
  }
  .section-items .item .text {
    margin-bottom: 20px;
  }

  .b-desc {
    padding: 22px 0;
  }
  .b-desc .img {
    position: relative;
    left: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 20%;
    margin: 0 auto;
  }
  .b-desc .title {
    font-size: 30px;
    display: block;
  }
  .b-desc .text {
    font-size: 24px;
    display: block;
  }
  .b-desc .text strong {
    font-size: 21px;
  }

  .b-email {
    font-size: 14px;
  }
  .b-email .inner {
    padding: 20px 20px 50px;
  }
  .b-email .title {
    font-size: 30px;
  }
  .b-email .items {
    margin: 30px 0;
  }
  .b-email .items .item {
    margin-left: 20px;
  }
  .b-email .items .item:first-child {
    margin-left: 0;
  }
  .b-email .text, .b-email p {
    margin-top: 10px;
  }
  .b-email .bottom-control {
    padding-right: 0;
    margin-top: 0;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 989px) {
  .site-header {
    padding: 30px;
  }
  .site-header .social {
    right: 15px;
  }
  .site-header .nav {
    right: 0px;
  }
  .site-header .nav ul li {
    margin-right: 0;
  }

  .site-container {
    padding: 50px 10px;
  }

  .site-footer {
    padding: 30px 0;
  }
  .site-footer .logo {
    margin-bottom: 20px;
  }

  .content-wrapper .cols.cols-2 .col {
    float: left;
    width: 50%;
  }
  .content-wrapper .cols.cols-2 .col:first-child {
    padding-right: 10px;
  }
  .content-wrapper .cols.cols-2 .col:last-child {
    padding-left: 10px;
  }

  .section-top .site-container {
    padding: 230px 0 140px 0;
  }
  .section-top h1 {
    font-size: 48px;
  }
  .section-top .item {
    width: 240px;
    margin-right: 10px;
  }
  .section-top .item .text {
    width: 155px;
  }

  .section-vote h2 {
    margin-bottom: 70px;
  }
  .section-vote .img {
    width: 40px;
    margin: 0 auto 15px;
  }
  .section-vote .item {
    padding: 35px 15px 20px 20px;
    margin-bottom: 32px;
  }
  .section-vote .item .cols-2 .col:first-child {
    width: 45%;
    padding-right: 0;
  }
  .section-vote .item .cols-2 .col:last-child {
    width: 55%;
    padding-left: 0;
  }
  .section-vote h3 {
    margin-bottom: 20px;
  }

  .section-logo {
    padding: 50px 0;
  }

  .section-faq .img {
    width: 45px;
    margin: 0 auto 15px;
  }
  .section-faq h2 {
    margin-bottom: 50px;
  }
  .section-faq .item {
    padding: 14px 20px;
    margin-bottom: 20px;
  }
  .section-faq .item .letter {
    font-size: 65px;
    margin-right: 25px;
  }
  .section-faq .item .question .text {
    font-size: 20px;
  }

  .section-items .item {
    float: left;
    width: 50%;
    padding-bottom: 43%;
  }
  .section-items .item .inner {
    width: 100%;
    padding: 0 10px;
  }
  .section-items .item .img {
    width: 90px;
    margin: 0 auto 15px;
  }
  .section-items .item h2 {
    margin-bottom: 20px;
  }
  .section-items .item .text {
    margin-bottom: 20px;
  }

  .b-desc {
    padding: 22px 0;
  }
  .b-desc .img {
    bottom: 25px;
    width: 120px;
  }
  .b-desc .title {
    font-size: 40px;
    margin-right: 100px;
  }
  .b-desc .text {
    margin-left: 100px;
    font-size: 28px;
  }
  .b-desc .text strong {
    font-size: 25px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }
}
@media (min-width: 990px) {
  .site-header {
    padding: 45px 65px;
  }
  .site-header .social {
    right: 40px;
  }
  .site-header .nav {
    right: 40px;
  }

  .site-container {
    padding: 90px 0;
  }

  .site-footer {
    padding: 50px 0;
  }
  .site-footer .logo {
    margin-bottom: 35px;
  }

  .content-wrapper .cols.cols-2 .col {
    float: left;
    width: 50%;
  }
  .content-wrapper .cols.cols-2 .col:first-child {
    padding-right: 10px;
  }
  .content-wrapper .cols.cols-2 .col:last-child {
    padding-left: 10px;
  }

  .section-top .site-container {
    padding: 270px 0 180px 0;
  }
  .section-top h1 {
    font-size: 69px;
  }
  .section-top .item {
    width: 300px;
    margin-right: 10px;
  }
  .section-top .item:nth-child(2) {
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .section-top .item:nth-child(3) {
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  .section-top .item:nth-child(4) {
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }
  .section-top .item .text {
    width: 215px;
  }

  .section-vote h2 {
    margin-bottom: 90px;
  }
  .section-vote .img {
    margin-bottom: 25px;
  }
  .section-vote .item {
    padding: 45px 15px 30px 30px;
    margin-bottom: 32px;
  }
  .section-vote .item .cols-2 .col:first-child {
    width: 45%;
    padding-right: 0;
  }
  .section-vote .item .cols-2 .col:last-child {
    width: 55%;
    padding-left: 0;
  }
  .section-vote h3 {
    margin-bottom: 20px;
  }

  .section-logo {
    padding: 125px 0;
  }

  .section-faq .img {
    margin-bottom: 15px;
  }
  .section-faq h2 {
    margin-bottom: 80px;
  }
  .section-faq .item {
    padding: 14px 20px;
    margin-bottom: 20px;
  }
  .section-faq .item .letter {
    font-size: 72px;
    margin-right: 25px;
  }
  .section-faq .item .question .text {
    font-size: 24px;
  }

  .section-items .item {
    float: left;
    width: 50%;
    padding-bottom: 43%;
  }
  .section-items .item .inner {
    width: 415px;
  }
  .section-items .item .img {
    margin-bottom: 25px;
  }
  .section-items .item h2 {
    margin-bottom: 40px;
  }
  .section-items .item .text {
    margin-bottom: 40px;
  }

  .b-desc {
    padding: 30px 0;
  }
  .b-desc .img {
    bottom: 25px;
  }
  .b-desc .title {
    font-size: 55px;
    margin-right: 130px;
  }
  .b-desc .text {
    margin-left: 130px;
    font-size: 34px;
  }
  .b-desc .text strong {
    font-size: 30px;
  }

  .el-with-animation {
    -moz-transition: opacity 1s, -moz-transform 1s;
    -o-transition: opacity 1s, -o-transform 1s;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
  }
  .el-with-animation.animate-opacity {
    opacity: 0;
  }
  .el-with-animation.animate-up-to-down {
    -moz-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
  .el-with-animation.animate-up-to-down.animate-zoom-in {
    -moz-transform: translate(0, -100px) scale(0.7);
    -ms-transform: translate(0, -100px) scale(0.7);
    -webkit-transform: translate(0, -100px) scale(0.7);
    transform: translate(0, -100px) scale(0.7);
  }
  .el-with-animation.animate-up-to-down.animate-zoom-out {
    -moz-transform: translate(0, -100px) scale(1.25);
    -ms-transform: translate(0, -100px) scale(1.25);
    -webkit-transform: translate(0, -100px) scale(1.25);
    transform: translate(0, -100px) scale(1.25);
  }
  .el-with-animation.animate-down-to-up {
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  .el-with-animation.animate-down-to-up.animate-zoom-in {
    -moz-transform: translate(0, 100px) scale(0.7);
    -ms-transform: translate(0, 100px) scale(0.7);
    -webkit-transform: translate(0, 100px) scale(0.7);
    transform: translate(0, 100px) scale(0.7);
  }
  .el-with-animation.animate-down-to-up.animate-zoom-out {
    -moz-transform: translate(0, 100px) scale(1.25);
    -ms-transform: translate(0, 100px) scale(1.25);
    -webkit-transform: translate(0, 100px) scale(1.25);
    transform: translate(0, 100px) scale(1.25);
  }
  .el-with-animation.animate-right-to-left {
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  .el-with-animation.animate-right-to-left.animate-zoom-in {
    -moz-transform: translate(100px, 0) scale(0.7);
    -ms-transform: translate(100px, 0) scale(0.7);
    -webkit-transform: translate(100px, 0) scale(0.7);
    transform: translate(100px, 0) scale(0.7);
  }
  .el-with-animation.animate-right-to-left.animate-zoom-out {
    -moz-transform: translate(100px, 0) scale(1.25);
    -ms-transform: translate(100px, 0) scale(1.25);
    -webkit-transform: translate(100px, 0) scale(1.25);
    transform: translate(100px, 0) scale(1.25);
  }
  .el-with-animation.animate-left-to-right {
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  .el-with-animation.animate-left-to-right.animate-zoom-in {
    -moz-transform: translate(-100px, 0) scale(0.7);
    -ms-transform: translate(-100px, 0) scale(0.7);
    -webkit-transform: translate(-100px, 0) scale(0.7);
    transform: translate(-100px, 0) scale(0.7);
  }
  .el-with-animation.animate-left-to-right.animate-zoom-out {
    -moz-transform: translate(-100px, 0) scale(1.25);
    -ms-transform: translate(-100px, 0) scale(1.25);
    -webkit-transform: translate(-100px, 0) scale(1.25);
    transform: translate(-100px, 0) scale(1.25);
  }
  .el-with-animation.animate-zoom-in {
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  .el-with-animation.animate-zoom-out {
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  .el-with-animation.animating-end.animate-opacity {
    opacity: 1;
  }
  .el-with-animation.animating-end.animate-up-to-down, .el-with-animation.animating-end.animate-down-to-up, .el-with-animation.animating-end.animate-right-to-left, .el-with-animation.animating-end.animate-left-to-right {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .el-with-animation.animating-end.animate-up-to-down.animate-zoom-in, .el-with-animation.animating-end.animate-up-to-down.animate-zoom-out, .el-with-animation.animating-end.animate-down-to-up.animate-zoom-in, .el-with-animation.animating-end.animate-down-to-up.animate-zoom-out, .el-with-animation.animating-end.animate-right-to-left.animate-zoom-in, .el-with-animation.animating-end.animate-right-to-left.animate-zoom-out, .el-with-animation.animating-end.animate-left-to-right.animate-zoom-in, .el-with-animation.animating-end.animate-left-to-right.animate-zoom-out {
    -moz-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  .el-with-animation.animating-end.animate-zoom-in, .el-with-animation.animating-end.animate-zoom-out {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }
}
