.b-desc {
  padding: 30px 0;

  .img {
    bottom: 25px;
  }

  .title {
    font-size: 55px;
    margin-right: 130px;
  }

  .text {
    margin-left: 130px;
    font-size: 34px;

    strong {
      font-size: 30px;
    }
  }

}