.b-desc {
  padding: 22px 0;

  .img {
    bottom: 25px;
    width: 120px;
  }

  .title {
    font-size: 40px;
    margin-right: 100px;
  }

  .text {
    margin-left: 100px;
    font-size: 28px;

    strong {
      font-size: 25px;
    }
  }

}