.form {

  .form-item, .form-actions {
    margin: 0 0 14px;

    .form-item {
      margin-bottom: 0;
    }
  }

  label {
    font-weight: normal;
  }

  select, input:not([type=submit]), textarea {
    font-size: 14px;
    padding: 14px 15px;
    border: none;
    width: 100%;
    @include input-placeholder($color: #6d0c2f);
  }

  .mergeRow {
    display: inline-block;
  }

  .mergeRow-email {
    width: 254px;
    margin-right: 3px;
  }

  .mergeRow-zip {
    width: 105px;
  }

  .submit_container {
    text-align: center;
    padding-top: 30px;

    @media (max-width: $width-tablet) {
      padding-top: 10px;
    }

    .button {
      display: inline-block;
      text-transform: uppercase;
      color: #cb9b2b;
      font-family: $montserrat-extrabold;
      padding: 14px 15px;
      border: none;
      background: #6d0c2f;
      @include transition(all .3s);

      &:hover {
        background: #cb9b2b;
        color: #6d0c2f;
      }
    }
  }

  .form-item {

    &:last-child {
      padding-right: 0;
    }

    &.width-80 {
      width: 75%;
      padding-right: 14px;
      float: left;
    }

    &.width-20 {
      width: 25%;
      float: left;
    }
  }

  .form-type-checkbox {
    input[type="checkbox"] {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: -1;

      &:checked + label:before {
        @include oneline-sprite($icons, icon-checkbox-active);
      }
    }

    input[type="checkbox"] + label {
      cursor: pointer;
      position: relative;
      padding-left: 32px;
      line-height: 1.2;

      &:before {
        @include pseudo-block($left: 0, $right: 0);
        @include oneline-sprite-box($icons, icon-checkbox);
      }
    }
  }

  .captcha {

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
  }

  .reload-captcha-wrapper {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .form-item-captcha-response {
    padding-top: 20px;
    line-height: 1.4;
    font-size: 14px;
    max-width: 310px;

    label {
      margin-bottom: 10px;
    }
  }
}