.section-faq {

  .img {
    margin-bottom: 15px;
  }

  h2 {
    margin-bottom: 80px;
  }

  .item {
    padding: 14px 20px;
    margin-bottom: 20px;

    .letter {
      font-size: 72px;
      margin-right: 25px;
    }

    .question {

      .text {
        font-size: 24px;
      }
    }
  }
}